@media (min-width: 360px) and (max-width:576px) {
  .collapsed{
    font-size: 12px;
  }
  .accordion-body{
    font-size: 15px;
  }
}
@media (min-width: 270px) and (max-width:359px) {
  .collapsed{
    font-size: 10px;
  }
  .accordion-body{
    font-size: 12px;
  }
}

.about{
  border: 2px solid black;
  border-radius: 15px;
  margin: 40px 50px 0px 50px;
  padding: 5px 20px;
}
.crdspace{
  display: flex;
  justify-content: center;
}
.crd{
  width: 18rem;
}
@media (min-width: 330px) and (max-width:440px) { 
  .texted{
    font-size: 14px;
  }
  .crd{
    width: 12rem;
  }
  .crdhead{
    font-size: 15px;
  }
  .crdli{
    font-size: 15px;
  }
}
@media (min-width: 250px) and (max-width:329px) { 
  .texted{
    font-size: 12px;
  }
  .crd{
    width: 8rem;
  }
  .crdhead{
    font-size: 10px;
  }
  .crdli{
    font-size: 10px;
  }
}